; === Alias pour {{ NomVue }} ({{ Description }}) ===
Alias {{ PREFIX_ }}Select_RecordSql       Select_{{ NomVue }}
Alias {{ PREFIX_ }}Seek_RecordSql_ID      Seek_{{ NomVue }}_ID
Alias {{ PREFIX_ }}Insert_recordSql       Insert_{{ NomVue }}
Alias {{ PREFIX_ }}UpDate_recordSql       UpDate_{{ NomVue }}
Alias {{ PREFIX_ }}Delete_recordSql       Delete_{{ NomVue }}
Alias {{ PREFIX_ }}ReaderOpen_recordSql   ReaderOpen_{{ NomVue }}
Alias {{ PREFIX_ }}ReaderClose_recordSql  ReaderClose_{{ NomVue }}
Alias {{ PREFIX_ }}ReaderSelect_recordSql ReaderSelect_{{ NomVue }}
Alias {{ PREFIX_ }}ReaderUpDate_recordSql ReaderUpDate_{{ NomVue }}
Alias {{ PREFIX_ }}ReaderDelete_recordSql ReaderDelete_{{ NomVue }}
Alias {{ PREFIX_ }}ReaderNext_recordSql   ReaderNext_{{ NomVue }}
Alias {{ PREFIX_ }}ReaderEnd_recordSql    ReaderEnd_{{ NomVue }}
Alias {{ PREFIX_ }}ReaderBegin_recordSql  ReaderBegin_{{ NomVue }}
Alias {{ PREFIX_ }}DeleteWhere_recordSql  DeleteWhere_{{ NomVue }}
Alias {{ PREFIX_ }}UpdateWhere_recordSql  UpdateWhere_{{ NomVue }}
Alias {{ PREFIX_ }}GetCount_recordSql     GetCount_{{ NomVue }}
